<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    
    {% if registration_successful %}
        <p>Account created successfully!</p>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    
    {% if form.errors %}
        <p>Errors occurred during registration:</p>
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}:
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>

